@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header-bar {
  /* background: linear-gradient(90deg, var(--primary-color), var(--secondary-color)); */
  color: var(--text-light);
  padding: 1rem 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 8px;
}

.header-bar h1 {
  font-family: 'Pacifico', cursive;
  background: linear-gradient(90deg, #ff6584, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  
}
